:root{
    /* TIPOGRAFIA */
    --fuenteMali: 'Mali', cursive;
    --fuenteRancho: 'Rancho', cursive;
    --fuenteRanchers: 'Ranchers', cursive;

    /* COLORS  */
    --main-color: #FFC000;
    --second-color: #D6DCE5;
    --fuxia-color: #D90062;
    --text-color: #0C1633;
    --link-bar: rgb(86, 86, 224);
    --lead-number: rgb(221, 214, 214);
    --lead-number-black: #a8a4a4;
    --black: #000000;
    --white: #ffffff;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}
/* Globales */
.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
    /* border: 1px solid green; */
}

img{
    max-width: 100%;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

h1{
    margin: 0;
}

h2{
    margin: 0;
}

[id]{
    scroll-margin-top: 9ex;
}

.full-lg-screen{
    width: 100%;
    min-height: 100vh;
}

.animate-top, .animate-left, .animate-right{
    opacity: 0;
    transition: all 1s ease;
}

.showTop{
    animation: showTop 800ms ease;
}

.showLeft{
    animation: showLeft 500ms ease-out;
}

.showRight{
    animation: showRight 500ms ease-out;
}

@keyframes showLeft{
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes showRight{
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes showTop{
    0%{
        transform: translateY(80px);
    }
    100%{
        transform: translateY(0px);
    }
}

.scroll-top-btn{
    position: fixed;
    z-index: 99;
    bottom: 3vh;
    right: calc(0rem + .8vw);
    width: 6rem;
    height: 6rem;
    border: 0;
    border-radius: 50%;
    font-weight: bold;
    font-size: 4rem;
    background-color: var(--link-bar);
    color:black;
    cursor: pointer;
    outline: 0;
    transition: all 0.3s ease-out;
    /* border: 5px solid var(--link-bar); */
}

.button-up{
    text-align: center;
    margin-top: .75rem;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

.header{
    background: url(../src/img/hero-image.webp) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.navegacion{
    position: fixed;
    width: 100%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    box-shadow: 0 .3rem .4rem #444;
    z-index: 999;
    /* box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.65); */
}

.contenido-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 16rem;
}

.enlaces a{
    font-size: 2.5rem;
    margin-left: 3.5rem;
    color: var(--text-color);
    font-family: var(--fuenteRanchers);
    text-decoration: none;
    transition: all .5s;
    text-shadow: -3px -3px 3px var(--white), 3px -3px 3px var(--white), -3px 3px 3px var(--white), 3px 3px 3px var(--white);
}

.enlaces a:hover{
    color: var(--fuxia-color);
}

.textos{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 100%;
    /* border: 5px solid white; */
    margin-top: 3.8rem;
    position: relative;
}

.icon{
    display: none;
    cursor: pointer;
}

.none{
    display: none;
}

.text-title-1, .text-title-2, .text-title-3{
    font-size: 8rem;
    color: var(--white);
    font-family: var(--fuenteRanchers);
    text-shadow: -3px -3px 25px var(--black), 3px -3px 25px var(--black), -3px 3px 25px var(--black), 3px 3px 25px var(--black);
    letter-spacing: 7px;
    padding: .5rem;
}

.textos .text-subtitle {
    color: var(--lead-number);
    font-size: 5.5rem;
    font-family: var(--fuenteRancho);
    text-shadow: -5px -5px 5px var(--black), 5px -5px 5px var(--black), -5px 5px 5px var(--black), 5px 5px 5px var(--black);
    margin-top: 2rem;
    display: flex;
}

.wrapper-2{
    display: flex;
    justify-content: space-between;
}

.textos .text-subtitle .wrapper-1 {
	overflow: hidden;
    padding: .7rem;
}

.textos .text-subtitle .wrapper-1 span {
	position: relative;
	bottom: -70px;
	animation: reveal 1s ease-in-out forwards;
    animation-delay: 1.5s;
}

@keyframes reveal {
	0% {
		bottom: -70px;
	}
	100% {
		bottom: 0px;
	}
}

.container-button{
    width: 400px;
}

.text-button{
    border: none;
    border-radius: 20px;
    padding: 1rem 2rem;
    background: var(--main-color);
    margin-top: 2rem;
    font-size: 2.5rem;
    font-family: var(--fuenteRanchers);
    color: var(--text-color);
    cursor: pointer;
    outline: 0;
    position: relative;
    animation: reveal3 1s ease-in forwards;
    animation-delay: 1.5s;
    right: -100px;
    opacity: 0;
}

@keyframes reveal3{
    0%{
        right: -100px;
        opacity: 0;
    }
    100%{
        right: 0px;
        opacity: 1;
    }
}

.text-button:hover{
    background: var(--fuxia-color);
    color: var(--white);
}

.container{
    display: flex;
}

.redes-sociales{
    display: flex;
    align-items: center;
    border-radius: 8px;
    /* border: 2px solid green; */
}

.redes-sociales hr{
    border-radius: 8px;
    animation: bottomTop 1.5s forwards;
    animation-delay: 1.5s;
}

@keyframes bottomTop{
    0%{
        width: 0px;
        border: 5px solid var(--main-color);
    }    
    100%{
        border: 5px solid var(--main-color);
        width: 150px;
    }
}

.red-social-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35rem;
    height: 8rem;
    overflow: hidden;
}

.red-social-media .button{
    border: 3.5px solid var(--black);
    border-radius: 12px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    color: var(--black);
    cursor: pointer;
    outline: 0; 
    position: relative;
    animation: reveal1 3s ease-in-out forwards;
    right: -1000px;
}

@keyframes reveal1{
    0% {
		right: -1000px;
	}
	100% {
		right: 0px;
	}
}

.icon-social-media i{
    font-size: 28px;
    font-weight: bold;
}

.icon-social-media .fab.fa-instagram{
    font-size: 34px;
}

@media screen and (max-width: 768px){
    .textos{
        align-items: center;
        text-align: center;
    }

    .text-title-1, .text-title-2, .text-title-3{
        font-size: 7.5rem;
    }

    .text-subtitle{
        font-size: 5rem;
    }

    .enlaces{
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        /* height: 92.6vh; */
        height: 100vh;
        background-color: var(--text-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin-top: 5.4rem; */
        /* margin: 1rem 0rem; */
        padding: 1rem 0;
        text-align: center;
        align-items: center;
        transition: all 0.4s ease;
        overflow: hidden;
    }

    .enlaces.is-active{
        left: 0%;
    }

    .enlaces a{
        font-size: 3rem;    
        width: 100%;
        padding: 1rem;
        margin: 3rem;
    }

    /* .enlaces a:first-child{
        margin-top: 0rem;
    } */

    .enlaces a:hover{
        background: var(--main-color);
    }

    .icon{
        display: flex;
    }

    .icon-menu, .icon-close{
        fill: var(--fuxia-color);
        width: 48px;
        height: 48px;
        margin-right: -8px;
        z-index: 1000;
    }

    .logo{
        z-index: 1000;
    }

    .text-button{
        width: 100%;
    }
}

/* ABOUT */
.about{
    background: var(--second-color);
    padding-bottom: 5rem;
    display: grid;
    place-items: center;
}

.about-main{
    display: grid;
    grid-template-columns: 55% 45%;
    justify-content: center;
    column-gap: 2.5rem;
    height: auto;
}

.about-text{
    display: flex;
    flex-direction: column;
    font-family: var(--fuenteRancho);
}

.about-title-number{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0rem;  
}

.about-title h2{
    color: var(--fuxia-color);
    font-family: var(--fuenteRanchers);
    font-size: 6rem;
    text-transform: uppercase;
    /* text-decoration: underline;
    color: var(--link-bar); */
}

.about-title hr{
    border: 5px solid var(--link-bar);
    background: var(--link-bar);
    margin-top: .5rem;
    width: 115%;
}

.about-number{
    font-size: 8rem;
    font-family: var(--fuenteRanchers);
    color: var(--lead-number-black);
}

.about-text{
    padding: 0 0 0 1rem;
    color: var(--text-color);
    line-height: 1.1;
}

.about-text-parrafo{
    font-size: 3.55rem;
    /* font-size: 2vw; */
    padding-bottom: 2.5rem;
}

.about-text-parrafo:last-child{
    padding-bottom: 0;
}

.about-img-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-img-photo{
    border-radius: 50%;
    max-width: 74%;
}

.about-button{
    display: block;
    border-radius: 2.5rem;
    margin: 0 auto;
    font-family: var(--fuenteRanchers);
    font-size: 3rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    background: var(--main-color);
    color: var(--fuxia-color);
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    outline: 0;
}

/* SKILLS */
.skills{
    display: grid;
    place-items: center;
    /* height: auto; */
}

.skills-title-number{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0rem 0 0;  
}

.skills-title h2{
    color: var(--fuxia-color);
    font-family: var(--fuenteRanchers);
    font-size: 6rem;
    text-transform: uppercase;
}

.skills-title hr{
    border: 5px solid var(--link-bar);
    margin-top: .5rem;
    width: 115%;
}

.skills-number{
    font-size: 8rem;
    font-family: var(--fuenteRanchers);
    color: var(--lead-number-black);
}


/* CONTENIDO SKILLS */

.skills-main{
    display: flex;
    margin: 5rem 0 5rem 0;
    /* margin: 5rem 0 5rem 0; */
}   

.skills-icons{
    /* border: 1px solid blue; */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25%;
    place-content: center;
    column-gap: 2.8rem;
    row-gap: 2.8rem;
}

.skill-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 7px rgba(230,230,230,1);
    -moz-box-shadow: 0px 0px 5px 7px rgba(230,230,230,1);
    box-shadow: 0px 0px 5px 7px rgba(230,230,230,1);
}

.skill-icon-html, .skill-icon-sass, .skill-icon-css, .skill-icon-bootstrap,
.skill-icon-javascript, .skill-icon-gulp, .skill-icon-npm, .skill-icon-figma,
.skill-icon-git, .skill-icon-github{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fuenteRancho);
    font-size: 2rem;
    padding-top: 1rem;
}

.skill-icon-html img, .skill-icon-css img, .skill-icon-gulp img,
.skill-icon-figma img, .skill-icon-sass img, .skill-icon-npm img,
.skill-icon-git img, .skill-icon-github img{
    max-width: 100%;
    margin-bottom: 0.5rem;
    /* border: 1px solid blueviolet; */
} 

.skill-icon-bootstrap img, .skill-icon-javascript img{
    /* padding-left: 1rem; */
    /* border: 1px solid blueviolet; */
    width: 82%;
    margin: 0 auto;
}

.skill-icon-html > p, .skill-icon-css > p, .skill-icon-sass > p, .skill-icon-bootstrap > p,
.skill-icon-figma > p, .skill-icon-javascript > p, .skill-icon-gulp > p, .skill-icon-npm > p,
.skill-icon-git > p, .skill-icon-github >  p{
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
    padding-top: .5rem;
} 

.skills-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem;
}  

.skills-image p{
    padding-bottom: 2rem;
    font-size: 3rem;
    font-family: var(--fuenteRancho);
    color: var(--black);
    text-align: center;
}


/* PROJECTS */
.projects{
    display: grid;
    place-items: center;
    background-color: var(--main-color);
    /* padding-bottom: 5rem; */
}

.projects-title-number{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0rem;  
}

.projects-title h2{
    color: var(--fuxia-color);
    font-family: var(--fuenteRanchers);
    font-size: 6rem;
    text-transform: uppercase;
}

.projects-title hr{
    border: 5px solid var(--link-bar);
    margin-top: .5rem;
    width: 115%;
}

.projects-description p{
    margin: 0rem 20rem;
    font-size: 3rem;
    text-align: center;
    font-family: var(--fuenteRancho);
}

.projects-number{
    font-size: 8rem;
    font-family: var(--fuenteRanchers);
    color: var(--lead-number-black);
}

/* gallery-projects */

.gallery-projects{   
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 1rem;
}

.contenedor-projects{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    padding: 3rem 0;
}

.project-1, .project-2, .project-3,
.project-4, .project-5, .project-6{
    width: 100%;
    height: 98%;
    border-radius: 2rem;
    background-color: var(--text-color);
    margin: 0 auto;
}

.project-1-content, .project-2-content, .project-3-content,
.project-4-content, .project-5-content, .project-6-content{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    padding: 2rem;
}

.project-1-content > p, .project-2-content > p, .project-3-content > p,
.project-4-content > p, .project-5-content > p, .project-6-content > p{
    display: block;
    color: var(--white);
    text-transform: uppercase;
    margin-top: 1.5rem;
    font-family: var(--fuenteRanchers);
    font-size: 1.85rem;
    letter-spacing: 1px;
    text-align: center;
}
    
.project-1-content img, .project-2-content img, .project-3-content img,
.project-4-content img, .project-5-content img, .project-6-content img{
    width: 100%;
    height: 19rem;
    padding-top: 0.3rem;
    /* z-index: 99; */
}


.project-1-content:hover .project-hover,
.project-2-content:hover .project-hover,
.project-3-content:hover .project-hover,
.project-4-content:hover .project-hover,
.project-5-content:hover .project-hover,
.project-6-content:hover .project-hover{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 48% 48%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    width: 90%;
    height: 74%;
    position: absolute;
    padding-top: 1rem;
    font-family: var(--fuenteRancho);
    border: 3px solid white;
    border-radius: 10px;
}

.project-hover{
    display: none;
}

.project-hover-description{
    grid-column: 1 / 3;
    text-align: center;
    margin: 1rem 1rem;
    font-size: 2.4rem;
    animation: descriptionBottom 100ms linear;
}

@keyframes descriptionBottom{
    from{
        transform: translateY(-50%);
    }
    to{
        transform: translateY(0%);
    }
}

/* .project-hover button{
    border: 5px solid red;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: var(--fuenteRancho);
    background: #D6DCE5;
    border: 0;
    border-radius: 4rem;
    cursor: pointer;
    margin: 2.2rem 1rem;
    outline: 0;
} */

.project-hover a{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.7rem;
    text-transform: uppercase;
    font-family: var(--fuenteRancho);
    background: #D6DCE5;

    border-radius: 4rem;
    cursor: pointer;
    margin: 2.2rem 1rem;
    outline: 0;
    text-decoration: none;
    color: var(--black);
}

.project-hover a i{
    padding-left: .5rem;
    padding-bottom: .2rem;
}

.project-hover-button-view{
    animation: buttonView 100ms linear;
}

@keyframes buttonView{
    from{
        transform: translateX(-20%);
    }
    to{
        transform: translateX(0%);
    }
}

.project-hover-button-details{
    animation: buttonDetails 100ms linear;
}

@keyframes buttonDetails{
    from{
        transform: translateX(20%);
    }
    to{
        transform: translateX(0%);
    }
}

/*--------Modal---------- */
.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: all .8s;
    width: 100%;
}

.modal-content{
    position: relative;
}

.modal-close{
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    z-index: 999;
}

.modal-close svg{
    width: 4rem;
    height: 4rem;
    fill: var(--fuxia-color);
}

.modal[id|="project"]:target{
    opacity: 1;
    pointer-events: auto;
}

.portfolio-modal{
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 1.5rem;
    background: var(--white);
    padding: 1.5rem;
    max-width: 950px;
    height: 350px;
    border: 10px solid var(--main-color);
    border-radius: 2rem;
    /* flex-direction: column; */
}

.portfolio-modal img{
    width: 100%;
    height: 300px;
}

.portfolio-modal img:hover{
    transform: scale(1);
    cursor: pointer;
}

.portfolio-info h3{
    font-size: 2rem;
    font-family: var(--fuenteRanchers);
    color: var(--link-bar);
    padding-top: 1rem;
}

.portfolio-info p{
    font-size: 2.5rem;
    font-family: var(--fuenteRancho);
    color: var(--text-color);
    font-weight: normal;
    padding: 1rem 2rem 1rem 0;
    text-align: justify;
}

/* .portfolio-details{
    display: flex;
    flex-direction: column;
} */

.portfolio-details{
    /* display: grid; */
    /* grid-template-columns: 40% 60%; */
    /* grid-auto-rows: 2rem; */
    font-size: 4rem;
    padding-top: 2rem;
    font-size: var(--fuenteRancho);
}

.table{
    width: 95%;
	border-collapse: collapse;
}

.table td.encabezado{
    border: 2px solid var(--black);
	padding: 1rem 1rem;
	font-size: 1.4rem;
	text-align: center;
	color: var(--text-color);
    font-family: var(--fuenteRanchers);
    letter-spacing: 1px;
    text-shadow: -3px -3px 3px var(--white), 3px -3px 3px var(--white), -3px 3px 3px var(--white), 3px 3px 3px var(--white);
    background: var(--main-color);
}

.table td{
    color: var(--black);
    font-family: var(--fuenteRancho);
    font-size: 2rem;
    border: 2px solid var(--black);
    /* padding-left: 1rem; */
    text-align: center;
    background: var(--second-color);
}

/* CONTACT */
.contact{
    display: grid;
    place-items: center;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(214,220,229,1) 50%, rgba(214,220,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(50%, rgba(214,220,229,1)), color-stop(100%, rgba(214,220,229,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(214,220,229,1) 50%, rgba(214,220,229,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(214,220,229,1) 50%, rgba(214,220,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(214,220,229,1) 50%, rgba(214,220,229,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(214,220,229,1) 50%, rgba(214,220,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6dce5', GradientType=1 );
    height: auto;
}

.contact-title-number{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0rem;  
}

.contact-title h2{
    color: var(--fuxia-color);
    font-family: var(--fuenteRanchers);
    font-size: 6rem;
    text-transform: uppercase;
}

.contact-title hr{
    border: 5px solid var(--link-bar);
    margin-top: .5rem;
    width: 115%;
}

.contact-description p{
    margin: 0rem 20rem;
    font-size: 2.8rem;
    text-align: center;
    font-family: var(--fuenteRancho);
}

.contact-number{
    font-size: 8rem;
    font-family: var(--fuenteRanchers);
    color: var(--lead-number-black);
}

/* CONTENIDO CONTACT */
.contenido-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    padding: 3rem 0rem;
}

.contact-formulario{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem;
    /* border: 1px solid red; */
}

/* .contact-formulario input:not(:last-child), .contact-formulario textarea{
    border: 0;
    border-bottom: 0.2rem solid var(--black);
    width: 100%;
    height: 4rem;
    font-size: 2.5rem;
    padding: 2.2rem 0.5rem;
    margin-bottom: 2rem;
    color: var(--text-color);
    font-family: var(--fuenteRancho);
    outline: 0;
} */

.formulario{
    /* border: 2px solid blue; */
    padding: 2rem;
    width: 100%;
    height: 40rem;
}

.formulario .input-data, .formulario .input-data-textarea{
    height: auto;
    width: 100%;
    position: relative;
    /* border: 2px solid green; */
    margin-bottom: 2rem;
}

.formulario .input-data-textarea textarea{
    resize: none;
}

.input-data label{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: var(--text-color);
    font-family: var(--fuenteRancho);
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 2.5rem;
}

.input-data-textarea label{
    position: absolute;
    bottom: 140px;
    left: 0;
    color: var(--text-color);
    font-family: var(--fuenteRancho);
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 2.5rem;
}

.input-data input:focus ~ label, 
.input-data input:valid ~ label{
    transform: translateY(-32px);
    font-size: 1.8rem;
    font-family: var(--fuenteRancho);
    color: var(--text-color);
    font-weight: 600;
}

.input-data-textarea textarea:focus ~ label,
.input-data-textarea textarea:valid ~ label{
    transform: translateY(-32px);
    font-size: 1.8rem;
    font-family: var(--fuenteRancho);
    color: var(--text-color);
    font-weight: 600;
}

.input-data input, .input-data-textarea textarea{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 3rem;
    border-bottom: 4px solid var(--second-color);
    outline: none;
    font-family: var(--fuenteRancho);
}

.input-data .underline, .input-data-textarea .underline{
    position: absolute;
    bottom: 0px;
    height: 4px;
    width: 100%;
}

.input-data .underline::before,
.input-data-textarea .underline::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: var(--main-color);
    transform: scaleX(0);
    transition: transform  0.5s ease;
}

.input-data input:focus ~ .underline::before,
.input-data input:valid ~ .underline::before,
.input-data-textarea textarea:focus ~ .underline::before,
.input-data-textarea textarea:valid ~ .underline::before{
    transform: scaleX(1);
}

input[type="submit"]{
    border: 0;
    border-radius: 3rem;
    font-family: var(--fuenteRanchers);
    display: block;
    width: 50%;
    text-align: center;
    color: var(--white);
    margin: 0 auto;
    cursor: pointer;
    outline: 0;
    font-size: 2.8rem;
    padding: 1rem 2rem;
    background-color: var(--second-color);
    text-shadow: -3px -3px 1px var(--black), 3px -3px 1px var(--black), -3px 3px 1px var(--black), 3px 3px 1px var(--black);
}

.contact-image{
    display: flex;
    margin-left: 2rem;
}

/* FOOTER */
.footer{
    background-color: var(--text-color);
    height: auto;
    padding: 1.5rem 0rem;
    box-shadow: 0 0 .2rem .2rem #444;
}

.contenido-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

/* .first-section-footer{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .second-section-footer{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.red-social-media-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35rem;
    height: auto;
}

.red-social-media-footer .button{
    border: 3.5px solid var(--black);
    border-radius: 12px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    color: var(--black);
    cursor: pointer;
    outline: 0; 
}

.icon-social-media i{
    font-size: 28px;
    font-weight: bold;
}

.icon-social-media .fab.fa-instagram{
    font-size: 34px;
}

.second-section-footer{
    margin-top: 1rem;
}

.footer-copyright{
    font-size: 2.5rem;
    text-align: center;
    color: var(--white);
    font-family: var(--fuenteMali);
}

/* SCROLL COLOR */
body::-webkit-scrollbar {
    width: 12px;
    background: var(--main-color);
}

body::-webkit-scrollbar-thumb{
    background: var(--link-bar);
    border-radius: 8px;
    /* border: 3px solid var(--white); */
}


@media screen and (max-width: 1200px){
    .about-text-parrafo{
        font-size: 3.5rem;
    }
    
    .about-img-photo{
        max-width: 85%;
    }

    .skills-main{
        margin: 3rem 0 7rem 0 ;
    }   

    .skills-icons{
        grid-template-columns: repeat(3,1fr);
    }

    .contenedor-projects{
        grid-template-columns: 45% 45%;
        margin: 0 auto;
    }  
    
    .project-1, .project-2, .project-3,
    .project-4, .project-5, .project-6{
        width: 40rem;
        height: 28rem;
    }

    .project-1-content > p, .project-2-content > p, .project-3-content > p,
    .project-4-content > p, .project-5-content > p, .project-6-content > p{
        font-size: 2.1rem;
    }
        
    .project-1-content img, .project-2-content img, .project-3-content img,
    .project-4-content img, .project-5-content img, .project-6-content img{
        width: 370px;
        height: 200px;
        padding-top: .5rem;
    }

    .project-1-content:hover .project-hover,
    .project-2-content:hover .project-hover,
    .project-3-content:hover .project-hover,
    .project-4-content:hover .project-hover,
    .project-5-content:hover .project-hover,
    .project-6-content:hover .project-hover{
        width: 90%;
        height:74%;
    }

    .project-hover-description{
        margin: .5rem 1rem;
        font-size: 2.6rem;
    }

    .project-hover button{
        font-size: 2rem;
        margin: 1.9rem;
    }
    
    .first-section-footer .enlaces a{
        font-size: 2.28rem;
    }

    .footer-copyright{
        font-size: 2rem;
    }
}


@media screen and (max-width: 1024px){
    .redes-sociales hr{
        display: none;
    }

    .textos{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        margin-top: 1.5rem;
    }

    .wrapper-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-text-parrafo{
        font-size: 3rem;
    }

    .skills-image{
        order: 1;
    }

    .skills-image-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .skills-icons{
        grid-template-columns: 16% 16% 16% 16% 16%;
        grid-template-rows: 40% 40%;
        /* justify-content: center; */
    }

    .skills-main{
        flex-direction: column;
        margin: 2rem 5rem;
    }

    .skills-icons{
        order: 2;
    }

    .skill-icon{
        /* margin: 2rem auto; */
        margin: 0 auto;
        padding: 2rem 0rem;
        width: 78%;
        height: 90%;
        
    }

    .projects-description p{
        margin: 0rem 15rem;
    }

    .portfolio-modal{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .portfolio-info p{
        padding: 1rem 0;
    }

    .table{
        width: 100%;
    }
}

@media screen and (max-width: 992px){
    .about-main{
        display: flex;
        flex-direction: column;
    }

    .about-text{
        order: 2;
        margin-top: 3rem;
    }

    .about-text-parrafo{
        font-size: 4.8rem;
    }

     .about-button{
        font-size: 3.5rem;
        padding: 2.5rem 4rem;
        border-radius: 40px;
    } 

    .about-img-photo{
        width: 90%;
    }

    .about-img{
        order: 1;
    }

    .skills-icons{
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 25% 25% 25%;
    }

    /* .skill-icon{
        margin: 0 auto;
        padding: 2rem 0rem;
        width: %;
        height: 90%;
        
    } */


    .contenedor-projects{
        grid-template-columns: 100%;
        margin: 0 auto;
    }  

    .projects-description p{
        margin: 0rem 5rem;
    }

    .project-1, .project-2, .project-3,
    .project-4, .project-5, .project-6{
        width: 100%;
        height: 100%;
    }

    .project-1-content > p, .project-2-content > p, .project-3-content > p,
    .project-4-content > p, .project-5-content > p, .project-6-content > p{
        font-size: 3.5rem;
    }
        
    .project-1-content img, .project-2-content img, .project-3-content img,
    .project-4-content img, .project-5-content img, .project-6-content img{
        width: 97%;
        height: 48rem;
        margin-top: 1rem;
    }

    .project-1-content:hover .project-hover,
    .project-2-content:hover .project-hover,
    .project-3-content:hover .project-hover,
    .project-4-content:hover .project-hover,
    .project-5-content:hover .project-hover,
    .project-6-content:hover .project-hover{
        width: 93%;
        height:82%;
        padding-top: 6rem;
        margin-top: 1rem;
    }

    .project-hover-description{
        margin: .5rem 3rem;
        font-size: 6.2rem;
    }

    /* .project-hover button{
        font-size: 3rem;
        margin: 5rem;
    } */

    .project-hover a{
        font-size: 3rem;
        margin: 5rem;
    }

    .project-hover a i{
        padding-left: 1rem;
        padding-bottom: .2rem;
    }

    .contact{
        background: none;
    }

    .contenido-contact{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .contact-formulario{
        order: 2;
        margin: 4rem auto;
    }

    .contact-image{
        order: 1;
        margin: 0 auto;
        max-width: 70%;
    }

    .contact-description p{
        margin: 0rem 5rem;
    }

}

@media screen and (max-width: 768px){
    .about-title-number, .skills-title-number,
    .projects-title-number, .contact-title-number{
        justify-content: center;
    }
    
    .about-title hr, .skills-title hr,
    .contact-title hr{
        margin-left: -1.7rem;
    }

    .projects-title hr{
        margin-left: -2.3rem;
    }

    .about-number, .skills-number, 
    .projects-number, .contact-number{
        display: none;
    }

    .skills-icons{
        grid-template-columns: 28% 28% 28%;
        grid-template-rows: 20% 20% 20% 20%;
    }

    .project-1-content > p, .project-2-content > p, .project-3-content > p,
    .project-4-content > p, .project-5-content > p, .project-6-content > p{
        font-size: 3rem;
    }
        
    .project-1-content img, .project-2-content img, .project-3-content img,
    .project-4-content img, .project-5-content img, .project-6-content img{
        width: 98%;
        height: 35rem;
        margin-top: .5rem;
    }

    .project-1-content:hover .project-hover,
    .project-2-content:hover .project-hover,
    .project-3-content:hover .project-hover,
    .project-4-content:hover .project-hover,
    .project-5-content:hover .project-hover,
    .project-6-content:hover .project-hover{
        width: 93%;
        height:78%;
        padding-top: 3rem;
    }

    .project-hover-description{
        font-size: 4.6rem;
    }

    .project-hover a{
        font-size: 2.2rem;
        margin: 5rem;
    }

    .project-hover a i{
        padding-left: 1rem;
        padding-bottom: .2rem;
    }

    .contact{
        background: none;
    }

    .formulario{
        padding: 2rem;
    }

    .contenido-contact{
        display: flex;
        flex-direction: column;
    }

    .contact-formulario{
        order: 2;
        margin: 1rem auto;
    }

    .contact-image{
        order: 1;
        margin: 0 auto;
        max-width: 70%;
    }

    input[type="submit"]{
        width: 100%;
    }
}


@media screen and (max-width: 650px){

    .about-text-parrafo{
        font-size: 4rem;
        
    }

    .text-title-1, .text-title-2, .text-title-3{
        font-size: 5.8rem;
        margin: 0rem 2rem;
    }    

    .text-subtitle .wrapper-1{
        font-size: 4rem;
    }

    .text-button{
        padding: 1rem 2rem;
        font-size: 2rem;
    }

    .projects-title{
        font-size: 1rem;
    }

    .about-text{
        font-size: 3.5rem;
    }

    .skills-main{
        margin: 0;
    }

    .skills-icons{
        margin-top: 4rem;
        grid-template-columns: 48% 48%;
        grid-template-rows: 18% 18% 18% 18% 18%;
        gap: 2rem 0rem;        
    }

    .project-1-content > p, .project-2-content > p, .project-3-content > p,
    .project-4-content > p, .project-5-content > p, .project-6-content > p{
        font-size: 2.44rem;
    }
        
    .project-1-content img, .project-2-content img, .project-3-content img,
    .project-4-content img, .project-5-content img, .project-6-content img{
        width: 98%;
        height: 28rem;
    }

    .project-1-content:hover .project-hover,
    .project-2-content:hover .project-hover,
    .project-3-content:hover .project-hover,
    .project-4-content:hover .project-hover,
    .project-5-content:hover .project-hover,
    .project-6-content:hover .project-hover{
        width: 92%;
        height:78%;
        margin-top: 0rem;
    }

    .project-hover-description{
        font-size: 3.4rem;
        margin: 0rem 3rem;
    }

    .project-hover a{
        font-size: 2.2rem;
        margin: 3rem 1rem;
    }

    .contenedor-projects{
        grid-template-columns: 95%;
        margin: 0 auto;
    }  

    .formulario{
        margin-bottom: 2rem;
    }

    .contact-formulario{
        margin: 0;
        padding: 0rem;
    }

}

@media screen and (max-width: 493px){ 
    
    .text-title-1, .text-title-2, .text-title-3{
        font-size: 5rem;
        margin: 0rem 2rem;
    }    

    .text-subtitle .wrapper-1{
        font-size: 3.5rem;
    }

    .text-button{
        padding: 1rem 2rem;
        font-size: 2rem;
    }

    .about-title h2, .skills-title h2, 
    .projects-title h2, .contact-title h2{
        font-size: 4.5rem;
    }

    .about-title hr, .skills-title hr,
    .contact-title hr{
        margin-left: -1.4rem;
    }

    .projects-title hr{
        margin-left: -1.8rem;
    }

    .about-button{
        font-size: 2.5rem;
        padding: 1.8rem 2rem;
    }

    .about-text-parrafo{
        font-size: 2.8rem;
    }

    .skills-image-content p{
        font-size: 2.5rem;
    }

    .skills-image-content img{
        display: none;
    }

    .contact-description p{
        font-size: 2.3rem;
        margin: 1rem;
    }

    /* .skills-icons{
        grid-template-columns: 45% 45%;
        margin: 3rem -3rem;
    } */

    .skills-icons{
        /* margin-top: 4rem; */
        margin: 0;
        grid-template-columns: 50% 50%;
        grid-template-rows: 18% 18% 18% 18% 18%;
        gap: 2rem 0rem;        
    }

    .contenedor-projects{
        grid-template-columns: 100%;
        margin: 0 auto;
    }  

    .project-1, .project-2, .project-3,
    .project-4, .project-5, .project-6{
        width: 100%;
        height: 100%;
    }

    .project-1-content > p, .project-2-content > p, .project-3-content > p,
    .project-4-content > p, .project-5-content > p, .project-6-content > p{
        font-size: 1.8rem;
    }
        
    .project-1-content img, .project-2-content img, .project-3-content img,
    .project-4-content img, .project-5-content img, .project-6-content img{
        width: 100%;
        height: 25rem;
        margin-top: 0rem;
    }

    .project-1-content:hover .project-hover,
    .project-2-content:hover .project-hover,
    .project-3-content:hover .project-hover,
    .project-4-content:hover .project-hover,
    .project-5-content:hover .project-hover,
    .project-6-content:hover .project-hover{
        width: 93%;
        height: 77%;
        margin-top: 0rem;
    }

    .projects-description p{
        font-size: 2.3rem;
        margin: 0;
    }

    .project-hover-description{
        /* font-size: 2.5rem; */
        font-size: 3rem;
        margin: 1rem 1rem;
    }

    .project-hover a{
        font-size: 1.8rem;
    }

    .project-hover a i{
        padding-left: .5rem;
    }
    
    input[type="submit"]{
        width: 100%;
        font-size: 2.4rem;
    }

    .footer-copyright{
        font-size: 1.6rem;
    }
    
}

@media screen and (max-width: 373px){

    .text-title-1, .text-title-2, .text-title-3{
        font-size: 4.5rem;
        margin: 0;
    }    

    .text-subtitle .wrapper-1{
        font-size: 3.2rem;
    }

    .red-social-media{
        width: 25rem;
        margin-top: -1.2rem;
    }

    .red-social-media .button{
        width: 40px;
        height: 40px;
    }

    .icon-social-media i{
        font-size: 20px;
    }

    .icon-social-media .fab.fa-instagram{
        font-size: 30px;
    }

    .skills-image-content p{
        font-size: 2rem;
    }

    .projects-description p{
        font-size: 2rem;
        margin: 0 3rem;
    }

    .contact-description p{
        font-size: 2rem;
        margin: 0rem 1rem;
    }

    .project-1-content > p, .project-2-content > p, .project-3-content > p,
    .project-4-content > p, .project-5-content > p, .project-6-content > p{
        font-size: 1.35rem;
    }
        
    .project-1-content img, .project-2-content img, .project-3-content img,
    .project-4-content img, .project-5-content img, .project-6-content img{
        width: 100%;
        height: 20rem;
        padding-top: 1rem;
    }

    .project-1-content:hover .project-hover,
    .project-2-content:hover .project-hover,
    .project-3-content:hover .project-hover,
    .project-4-content:hover .project-hover,
    .project-5-content:hover .project-hover,
    .project-6-content:hover .project-hover{
        width: 90%;
        height: 75%;
        margin-top: 0rem;
    }

    .project-hover-description{
        font-size: 2rem;
        margin: 0rem 2rem;
    }

    .project-hover a{
        font-size: 1.3rem;
        margin: 2.5rem .3rem;
    }

    .project-hover a i{
        padding-left: .4rem;
        padding-bottom: .2rem;
    }

    .red-social-media-footer{
        width: 26rem;
    }

    .red-social-media-footer .button{
        width: 40px;
        height: 40px;
    }

    .footer-copyright{
        font-size: 1.25rem;
    }
}